@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-light: #e0dddd;
    --color-dark: #080808;
    --color-background-001: #060a0c;
    --color-background-002: #141a1f;
    --color-primary: #0FC2C0;
    --color-secondary: #045c5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Charm", serif;
}

body {
    height: 100vh;
    background-color: var(--color-background-001);
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 100%;
    width: 100%;
    background-color: var(--color-background-002);
    text-align: center;
    border-radius: 20px;

}

header {
    background-image: linear-gradient(to bottom, #070b0e, var(--color-background-002));
}

header img {
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-dark);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
}
header h1 {

    margin-top: 10px;
    color: var(--color-primary);
}

header p {
    margin: 10px auto;
    font-weight: 700;
}

#botoes {
    display: flex;
    flex-direction: column;
}

.botao {
    width: 95%;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: var(--color-primary);
}

.botao:hover {
    background-color: var(--color-secondary);
}

a {
    color: var(--color-dark);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 410px) {
    #container {
        width: 500px;
        height: 600px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.356);
    }
}